<header class="header">
    <div class="header-logo" [routerLink]="['/']">Администрирование Quadroople</div>
    <div class="routes" [routerLink]="['routes']">Маршруты</div>
    <div class="routes" [routerLink]="['users']">Пользователи</div>

    <ng-container *ngIf="currentEmployee">
        <button mat-stroked-button *ngIf="currentEmployee.student" [routerLink]="['requests']">Мои запросы</button>
        <button mat-stroked-button *ngIf="currentEmployee.operator" [routerLink]="['requests','operator']">Запросы</button>
    </ng-container>

    <ng-container *ngIf="!currentEmployee">
        <div class="header-actions">
            <div class="header-login" (click)="onLoginButtonClick()">
                Войти
            </div>
            <div class="header-sign-up" (click)="onSignUpButtonClick()">
                Регистрация
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="currentEmployee">
        <div class="header-user">
            <div class="header-user__name">
                {{currentEmployee.firstName + " " +currentEmployee.surname}}
            </div>
            <div class="header-user__logout" (click)="onLogoutButtonClick()">
                Выйти
            </div>
        </div>
    </ng-container>
</header>