.header {
    display: flex;
    width: 100vw;
    background-color: #f27111;
    padding: 20px;
    justify-content: space-between;

    &-logo {
        color: white;
        font-size: 1.6em;
    }

    &-login {
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }

    &-sign-up {
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }

    &-user {
        color: #fff;

        &__logout {
            cursor: pointer;
        }
    }
}