.header {
    display: flex;
    width: 100vw;
    background-color: #000592;
    padding: 20px;
    justify-content: space-between;
    color: white;

    &-logo {
        font-size: 1.6em;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }

    &-login {
        &:hover {
            cursor: pointer;
        }
    }

    &-sign-up {
        &:hover {
            cursor: pointer;
        }
    }

    &-user {

        &__logout {
            cursor: pointer;
        }
    }
}

.routes {
    cursor: pointer;
}