<h2>Запросы пользователей:</h2>

<div class="requests-not-found" *ngIf="!requests.length">Запросов не найдено</div>

<div class="content" *ngIf="requests.length">
    <div class="requests">
        <div 
            *ngFor="let request of requests"
            [routerLink]="[request.id]"
            class="request">
            <div class="name">
                {{ request.student.employee.surname + ' ' + request.student.employee.firstName }}
            </div>
            <div class="type">
                {{ request.type.name  }}
            </div>
            <div class="status">
                {{ getRequestStatusById(request.requestStatus) }}
            </div>
            <div class="time">
                {{ request.created | date:'dd.MM.yyyy HH:mm' }}
            </div>
        </div>
    </div>
</div>