.requests {
    margin-top: 20px;
}

.request {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid lightgray;
    transition: .2s;
    cursor: pointer;

    &:last-child {
        border-bottom: 1px solid lightgray;
    }

    &:hover {
        background-color: lightgray;
    }
}