<div class="header">
    <h2>
        Запрос №{{request.id}} от {{ request.created | date:'dd.MM.yyyy' }} 
        (пользователь {{ request.student.employee.surname + ' ' + request.student.employee.firstName }})
    </h2>
    <div 
        class="status"
        [class.created]="request.requestStatus === 0"
        [class.processing]="request.requestStatus === 1"
        [class.closed]="request.requestStatus === 2">
        {{ getRequestStatusById(request.requestStatus) }}
    </div>
</div>
<div class="content">
    <h3 class="type">
        Тип: {{ request.type.name }}
    </h3>
    <div class="information">
        <div class="information__header">
            Информация по запросу:
        </div>
        <div class="information-data">
            <form [formGroup]="requestForm" class="form">
                <mat-form-field>
                    <input 
                        matInput
                        type="text"
                        formControlName="reason"
                        readonly
                        placeholder="Причина">
                </mat-form-field>
            </form>
        </div>
    </div>
    <div class="user-comment">
        <div class="user-comment__header">
            Комментарий пользователя:
        </div>
        <div class="user-comment__value">
            {{ request.userComment }}
        </div>
    </div>
    <div *ngIf="request.requestStatus === 1" class="operator-answer">
        <form [formGroup]="operatorAnswerForm" class="form">
            <mat-form-field>
                <input 
                    matInput
                    type="text"
                    formControlName="resultFileId"
                    placeholder="Результат">
            </mat-form-field>
            <mat-form-field>
                <textarea 
                    matInput
                    type="text"
                    formControlName="operatorComment"
                    placeholder="Комментарий">
                 </textarea>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="request.requestStatus >= 1" class="operator-information">
        <div class="operator-information__header">
            Оператор:
        </div>
        <div class="operator-information__name">
            {{ request.operator.employee.surname + ' ' + request.operator.employee.firstName }}
        </div>
        <div class="operator-information__date">
            Взято в обработку: {{ request.processingStartDate | date:'dd.MM.yyyy' }}
        </div>
    </div>
    <div *ngIf="request.requestStatus === 2" class="request-result">
        <div class="request-result__result">
            <div class="request-result__result-header">
                Результат запроса:
            </div>
            <div class="request-result__result-value">
                {{ request.resultFileId }}
            </div>
        </div>
        <div class="request-result__comment">
            <div class="request-result__comment-header">
                Комментарий оператора:
            </div>
            <div class="request-result__comment-value">
                {{ request.operatorComment }}
            </div>
        </div>
    </div>
</div>
<div class="button-wrapper">
    <button *ngIf="request.requestStatus === 0" mat-raised-button (click)="onRequestInProgressButtonClick()">Взять в обработку</button>
    <button 
        *ngIf="request.requestStatus === 1" 
        [disabled]="!operatorAnswerForm.valid"
        mat-raised-button 
        (click)="onRequestCloseButtonClick()">Закрыть запрос</button>
</div>

