.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;

    &.created {
        border-color: green;
        background-color: green;
    }

    &.processing {
        border-color: orange;
        background-color: orange;
    }

    &.closed {
        border-color: blue;
        background-color: blue;
    }
}

.content {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-top: 10px;

    & .information {
        margin-top: 10px;

        &-data {
            margin-top: 10px;
        }
    }

    & .operator-information {
        padding-top: 10px;

        &__date {
            padding-top: 10px;
        }
    }

    & .request-result {
        &__result {
            margin-top: 10px;
        }
        &__comment {
            margin-top: 10px;
        }
    }
}

.button-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operator-answer {
    & .form {
        display: flex;
        flex-direction: column;
    }
}